@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.main_div{
    margin: auto;
   
    
}
.img{
    position: relative;
    top: 200px;
}
.row_sign{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-left: 100px;
    width: 70%;
    margin:auto;
    border-radius: 1.5%;
    
}
input:focus{
    outline: none;
}
.signup_link{
   text-decoration: none;
   color: #6610f2;
   
   
}
input{
    width: 70%;
}
.signup_link_div{
   
    margin: 220px 0px 0px 75px;
    
}


@media (max-width: 989px) {
   .row{
       height: 100vh;
       padding-left: 10px;
       width: 90vw;
   }
   .img{
   
    width: 50%;   
    position: relative;
       top: 20px;
   }
   input{
       width: 85%;
   }
   /* .nomobile {
    display:none;
} */
.signup_link_div{
    margin: 30px 20px;
}
   
  }

  /* Sign-In */
  .signin_link_div{
     
    margin: 0px auto;
      text-align: center;
      
     
  }
  .signin_img_div{
      display: flex;
      justify-content: center;
  }

  @media (max-width: 989px) {
      .img_signin{
          width: 300px;
      }
      
  }

  /* contact */

  .contact_info_div{
      width: 80%;
      margin: 2% auto;
      line-height: 0.5;
      
     
      
  }
  .col_contact{
      background-color: #EEEEEE;
      padding: 15px;
      margin: 20px 20px;
      height: 15%;
      padding-top: 0px;
     
      
  }
  .row_contact{
      justify-content: center;
  }
  .h5_contact{
      font-size: 1.25rem;
  }
  .p_contact{
      font-size: 0.75rem;
  }
  .contact_info_item{
        position: relative;
        left: 40px;
        top: 0px;
        
  }
  .i_contact{
      position: relative;
      left: 2px;
      top: 20px;
  }
  .contactme_div{
      width: 60%;
      margin: auto;
      padding: 50px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-radius: 1.5%;
      
  }
  .contact_input{
      width: 30%;
      margin: 10px;
      font-size: .75rem;
   
      padding: 10px;
    
  }
  .contact_input_name{
    width: 30%;
    margin-right:10px ;
    font-size: .75rem;
  
    padding: 10px;
  }
  textarea{
      width: 95%;
      height: 20vh;
      font-size: .75rem;
      margin-top: 20px;
      padding: 10px;
  }
  .h2_contact{
      margin:  10px auto 40px;
  }
  .button_contact{
      margin: 30px auto 0px;
  }

  /* Home */
  
  .home_page{
   
    height: 100vh;
   
    background: linear-gradient(90deg, #8FC1D4 50%, #EEEEEE 50%);
   
  }
  .home_div{
    text-align: center;
    position: relative;
    top: 50%;
    }

    /* About */
    .about_div{
        width: 70%;
        margin: 50px auto;
        padding: 50px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 1.5%; 
    }
    .sss{
        color: #8FC1D4;
    }

    /* Error */

    .err{
        z-index: -1;
        font-size: 20rem;
        color: rgb(210, 219, 215);
    }
    .err_div{
       position: absolute;
       top: -20%;
       left: 15%;
    }
    .nav{
        text-decoration: none;
    }
    .nav:hover{
        color: white;
    }

    /* body */

    body{
        background-color: #f8f9fa;
    }
    input{
        background-color: #f8f9fa;
    }
    textarea{
        background-color: #f8f9fa
    }

